.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.button {
  height: var(--button-height-xl);
  padding-left: var(--button-padding-x-xl);
  padding-right: var(--button-padding-x-xl);
  font-size: var(--mantine-font-size-xl);

  @media (max-width: $mantine-breakpoint-md) {
    height: var(--button-height-lg);
    padding-left: var(--button-padding-x-lg);
    padding-right: var(--button-padding-x-lg);
    font-size: var(--mantine-font-size-lg);
  }
}
